.s-firstsec {
  height: 552px;
  background: linear-gradient(90deg, #f5b8a0 0%, #d5d8fb 100%);
}

.headtxt {
  padding-left: 128px;
  padding-top: 180px;
}
.firstsec-fp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;
  opacity: 0.6;
  padding: 9px;
  text-align: center;
  background-color: #066dec;
}
.firstsec-sp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 40px;
  line-height: 48px;
  opacity: 0.6;
  padding: 13px;
  background-color: #066dec;
}
.headsecpara {
  margin-top: 50px;
  margin-left: 120px;
  text-align: left;
}
.headsecpara p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;
  color: white;
  /* text-align: left; */
}
.headsecpara .first {
  position: relative;
  left: -18px;
}
.s-secdiv {
  height: 525px;
  width: 1040px;
  border-style: dotted;
  margin-left: 193px;
  margin-top: 100px;
}
.secdiv {
  /* margin: 0 auto; */
  margin-left: 354px;
  margin-top: 40px;
}
.homepara {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #65605b;
}
.thirdsecfdiv {
  height: 551px;
  width: 1203px;
  background: linear-gradient(90deg, #f5b8a0 0%, #d5d8fb 100%);
  margin-top: 150px;
}
.thirdsecfpg {
  width: 669px;
  height: 743px;
  background-color: #ffffff;
  padding: 54px;
  position: relative;
  top: -466px;
  left: 13px;
  border-style: dotted;
}
.bluepara {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;

  color: #066dec;
}
.num {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 90px;
  line-height: 109px;
  position: relative;
  top: -18px;
  color: #000000;
}
.fpgp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 28px;
  line-height: 34px;
  color: #000000;
}
.thirdsecsdiv {
  height: 551px;
  width: 1040px;
  position: relative;
  bottom: 306px;
  background: linear-gradient(90deg, #f5b8a0 0%, #d5d8fb 100%);
  /* margin-top: 150px; */
}
.thirdsecspg {
  width: 669px;
  height: 743px;
  background-color: #ffffff;
  padding: 54px;
  position: relative;
  top: -930px;
  left: 13px;
  border-style: dotted;
  float: right;
}
.thirdsectpg {
  width: 980px;
  height: 590px;
  background-color: #ffffff;
  position: relative;
  border-style: dotted;
  float: right;
  padding-top: 48px;
  padding-left: 82px;
  right: 9pc;
  bottom: 44pc;
  padding-bottom: 33px;
}
