.s-firstsec {
  height: 629px;
  background: linear-gradient(90deg, #80edb4 0%, #e8f985 100%);
}
.s-firstsec .firsttxt {
  margin-top: 22pc;
  margin-left: 10pc;
}
.s-firstsec .firsttxt p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 36px;
}
.s-firstsec .firsttxt h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 65px;
  line-height: 79px;
  /* identical to box height */
}
.s-firstsec .row .home {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #65605b;
}
.s-secndsec {
  position: relative;
  padding: 0 24pc;
  top: -4pc;
  left: -57px;
}
.s-secndsec .fp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 24px;

  color: #231815;
}
.s-secndsec .sp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 50px;
  line-height: 61px;
  /* identical to box height */

  color: #231815;
}
.s-secndsec .tp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  /* identical to box height */

  color: #333333;
}

.s-thirdsec .s-threecol {
  padding: 0px 61px;
  position: relative;
  left: -52px;
}
.s-thirdsec .s-threecol .fp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 25px;
  line-height: 30px;

  color: #000000;
}
.s-thirdsec .s-threecol .sp {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 13px;
  line-height: 16px;
  /* identical to box height */

  color: #888888;
}
.last-sec {
  background: linear-gradient(90deg, #80edb4 0%, #e8f985 100%);
  /* height: auto; */
}
.last-sec .firstsec {
  position: relative;
  top: 62px;
}
.last-sec .firstsec p {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 26px;
  line-height: 31px;

  color: #000000;
}
.last-sec .firstsec h1 {
  font-family: "Inter";
  font-style: normal;
  font-weight: 400;
  font-size: 45px;
  line-height: 54px;

  color: #000000;
}

.last-sec .crsimg {
  height: 73px;
  width: 73px;
  border-radius: 50%;
}
.last-sec .crossmssg {
  margin-top: 105px;
  justify-content: center;
}
/* .last-sec .s-mssg .fimg {
  position: relative;
  top: 33px;
} */
